html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

ul {display: flex;height:100px;line-height:50px;justify-content: center;}
ul li:hover{background: #666;}
ul li + li{padding:0 50px;}
input[id='menuicon'] {display: none;}

input[id='menuicon']:checked ~ header .meunbtn {z-index: 2;}
input[id='menuicon']:checked ~ header .meunbtn span:nth-child(1) {top:50%;left:50%;transform: translate(-50%, -50%) rotate(135deg);}
input[id='menuicon']:checked ~ header .meunbtn span:nth-child(2) {left:50%;transform:translate(-50%, -50%) scale(1.2); opacity:0;}
input[id='menuicon']:checked ~ header .meunbtn span:nth-child(3) {bottom:50%;left:50%;transform: translate(-50%, 50%) rotate(-135deg);}
input[id='menuicon']:checked ~ .container .sidebar{left:0;}

header {height: 100%;background:#e5e5e5}
header > div {position: relative;width: 1200px;height:50px;margin: 0 auto;}
header > div ul.navi {font-size: 0;}
header > div ul.navi > li {font-size: 12px;display: inline-block;vertical-align: middle;}
header > div ul.navi > li > a {display: block;width: auto;padding: 20px;}
header > div ul.navi > li.logo > a {padding: 20px 50px;font-size: 20px;font-weight: 900;}

.area {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: 20px;}

.meunbtn {display: block;width:50px;height:50px;position: absolute;top: 50%;right:10px;transform:translateY(-50%);cursor: pointer;}
.meunbtn span {display:block;position:absolute;width:80%;height:5px;border-radius:30px;background: #222;transition:all .35s;}
.meunbtn span:nth-child(1) {top: 20%;left: 50%; transform: translateX(-50%);}
.meunbtn span:nth-child(2) {top: 50%;left: 50%; transform: translate(-50%, -50%);}
.meunbtn span:nth-child(3) {bottom: 20%;left: 50%; transform: translateX(-50%);}

.container {width: 100%;position: relative;}
.container .contents {width: 1200px; margin: 0 auto;min-height: 700px;border: 1px solid #eee;background: #f1f1f1;}
.container .sidebar {position:fixed;top:0;left:-300px;width:300px;height: 100%;background: #666;border:1px solid red;z-index:30;transition: .35s;}